@use "../abstracts/" as *;

.flow>*+* {
    margin-top: var(--gap, 1rem);
}

.lead {
    color: clr(neutral, 900);
    text-transform: uppercase;

    &+p {
        margin-top: 0;
    }
}

.box-shadow-1 {
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 0.25);
}

// container component 

.container {
    --max-width: #{pxToRem($container-max-width)};
    --padding: #{$padding-mod} * 2;

    width: min(calc(100% - var(--padding)), var(--max-width));
    margin-inline: auto;


    &[data-tag="hero"] {
        --max-width: #{pxToRem(735px)};

        width: min(calc(100% - var(--padding)), var(--max-width));
    }

    @include mq(tablet) {
        --padding: #{$padding-mod} * 4;
    }

    @include mq(desktop) {
        &[data-type="wide"] {
            --max-width: #{pxToRem($container-max-width-wide)};
        }
    }
}

// flexbox components 

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &[data-tag="project"] {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include mq(tablet) {
        &:not(.footer__bg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }
    }

    @include mq(desktop) {
        &[data-tag="footer"] {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}

.d-grid-2-col {
    display: grid;
    align-items: center;

    @include mq(tablet) {
        justify-content: start;
        align-items: end;
        grid-template-columns: minmax(min(pxToRem(413.56px), 100%), 1fr) minmax(min(pxToRem(31.44px), 100%), 1fr) minmax(min(pxToRem(290.56px), 100%), 1fr);
    }

    @include mq(desktop) {
        grid-template-columns: minmax(min-content, pxToRem(706px)) minmax(min-content, pxToRem(41px)) minmax(min-content, 445px);
    }
}

.grid-auto-fit {
    --gap-column: 0;
    --gap-row: #{$grid-gap};


    display: grid;
    gap: var(--gap-row) var(--gap-column);
    grid-template-columns: repeat(auto-fit,
            minmax(min(pxToRem(342px), 100%), 1fr));
    align-items: center;



    &[data-tag="project"] {
        --gap-column: 0;
        --gap-row: #{pxToRem(40px)};
    }

    @include mq(tablet) {
        & {
            --gap-column: pxToRem(7px);
            --gap-row: pxToRem(52px);
        }

        &[data-tag="project"] {
            --gap-column: #{pxToRem(24px)};
            --gap-row: #{pxToRem(60px)};
        }
    }

    @include mq(desktop) {

        & {
            --gap-column: pxToRem(30px);
            --gap-row: pxToRem(58px);
        }

        &[data-type="wide"] {
            grid-template-columns: repeat(auto-fit,
                    minmax(min(pxToRem(540px), 100%), 1fr));
        }

        &[data-tag="project"] {
            --gap-column: #{pxToRem(30px)};
            --gap-row: #{pxToRem(69px)};
        }
    }
}

.interactive-figure {
    position: relative;
    overflow: hidden;

    figcaption {
        position: absolute;
        bottom: 0;
        background-color: rgb(clr(neutral, 900), 0.75);
        backdrop-filter: blur(0.35rem);
    }

    @media (hover: hover) {
        figcaption {
            transition: transform ease-in-out 350ms;
            transform: translateY(100%);
        }

        &:hover figcaption {
            transform: translateY(0%);
        }
    }
}