@use "./mixins" as *;

$ff-primary: "Space Grotesk", sans-serif;

$fs-heading-xl: 2.5rem;
$fs-heading-l: 2rem;
$fs-heading-m: 1.5rem;
$fs-heading-s: 1.125rem;
$fs-heading-xs: 1rem;
$fs-logo-font: 1.5rem;
$fs-body: 1rem;


$fw-500: 500;
$fw-700: 700;